.background{
  background-color: #F2F2F2;
  height: 100%;

}

.profile {
  background: #fff;
  border: 1px solid #e1e1e1;
  // border-radius: 3px;
  padding: 15px;
  box-shadow: 5px 5px 5px -4px #ddd;
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;


}



.title-profile {
  font-size: 12px;
  font-weight: bold;
}

.title-profile-value {
  display: block;
  background-color: #eee;
  color: #333;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  // border-radius: 7px;

}

.title-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #565655;
}

.title-edit i {
  display: block;
  margin-bottom: -70px;
}

.edit-icon {
 color: #565655;
 font-size: 24px;
 &:hover {
  color: #009DB5;
  text-decoration: none;
 }
}



.btn-new-company {
  padding: 15px;
}


.company-list {
  list-style-type: none;
  border: 1px solid #e1e1e1;
  margin: 0 auto;
  margin-top:10px;
  // border-radius: 15px;
  &:hover {
    border: 1px solid #009DB5;
  }

}

.company-list-ul {
  padding-left: 0;
}

.company-name-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #009DB5;
  padding: 15px;
  // border-top-left-radius: 15px;
  // border-top-right-radius: 15px;
  width: 100%;

}

.company-name {
  color: white;
  &:hover {
    color: white;
  }
}

.company-info-wrap {
  padding: 15px;
  p {
    font-size: 12px;
  }
}

.company-icons{
  color: white;
  &:hover {
    color: white;
  }
}

.compaign-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    color: red;
  }
}

.compaign-wrap{
  color: #565655;
  background-color: #eee;
  border-left: 3px solid #009DB5;
  padding: 15px;
  margin: 10px 0;
  &:hover {
    border-left: 10px solid #009DB5;
    transition-duration: 0.2s
  }

}

.btn-aprovado-pagamento {
  color: white;
  padding: 10px;
  // border-radius: 15px;
  background-color: #27ae60;
  font-size: 14px;
}

.btn-pagamento-pendente {
  color: white;
  padding: 10px;
  // border-radius: 15px;
  background-color: #e74c3c;
  font-size: 14px;
}

.campaign-status {
width: 200px;
}


