.background{
  background-color: #F2F2F2;
}

.profile {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 5px 5px 5px -4px #ddd;
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;


}




.title-profile {
  font-size: 12px;
  font-weight: bold;
}

.title-profile-value {
  display: block;
  background-color: #eee;
  color: #333;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border-radius: 7px;

}

.title-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #565655;
}

.title-edit i {
  display: block;
  margin-bottom: -70px;
}

.edit-icon {
 color: #565655;
 font-size: 24px;
 &:hover {
  color: #D17A00;
 }
}

.btn-new-company {
  padding: 15px;
}
