.back-button p {
    margin: 15px 0;
    color: #189db4;
    font-size: 16px;
    &:hover {
      color: #03315a;
  }
}

a:hover {
  text-decoration: none;
}

.back-button a:focus {
  text-decoration: none;
}

.information-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  h3 {
    margin: 5px 0;
  }
  h4 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

@media screen and (max-width: 540px) {
  .information-wrap {
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
  }
}


.panel-picture-wrap {
  box-shadow: 2px 2px rgb(240,240,240);
}

.panel-buy-wrap p {
  margin-bottom: 2px;
}

@media screen and (max-width: 540px) {
  .panel-buy-wrap {
    h5 {
      font-size: 14px;
    }
  }
}


.choose-campaign {
  padding: 12px 12px 6px 12px;
  margin-bottom: 15px;
  background-color: rgba(220,220,220,0.2);
  &:hover {
    border-left: 4px solid #009DB5;
    padding-left: 8px;
    box-shadow: 1px 1px rgba(220, 220, 220, 0.4);
  }
}

@media screen and (max-width: 540px) {
  .choose-campaign {
    margin-top: 15px;
  }
}

.choose-duration {
  padding: 12px 12px 6px 12px;
  margin-bottom: 15px;
  background-color: rgba(220,220,220,0.2);
  &:hover {
    border-left: 4px solid #009DB5;
    padding-left: 8px;
    box-shadow: 1px 1px rgba(220, 220, 220, 0.4);
  }
}

.choose-dates {
  padding: 12px 12px 6px 12px;
  margin-bottom: 15px;
  background-color: rgba(220,220,220,0.2);
  &:hover {
    border-left: 4px solid #009DB5;
    padding-left: 8px;
    box-shadow: 1px 1px rgba(220, 220, 220, 0.4);
  }
}

.total-price {

}

.label-title {
  font-size: 16px;
  text-align: justify;
}

.link-cadastrar-empresa{
  font-size: 12px;
  a {
    margin-bottom: 15px;
  }
}

.printing-data {
  th, td {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 540px) {
  .printing-data {
    h6 {
      font-size: 14px;
    }
    th, td {
    font-size: 10px;
    }
    p {
      font-size: 10px;
    }
  }
}

