.pay-wrap {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 5px 5px 5px -4px #ddd;
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
}



.panels-wrap li {
  margin-top: 5px;
  border-top: 1px solid #e1e1e1;


}

.pic-wrap {

}

.pic{
  width: 100%;
}

.order-infos{
  font-size: 12px;
}

.col-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 10px;
}

.title-wrap {
  margin-top: 30px;
}
