.pay-wrap {
  background-color: #F2F2F2;
  border-radius: 3px;
  padding: 15px;
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #454545;

}



.panels-wrap li {
  margin-top: 5px;
  border-top: 1px solid #e1e1e1;
  color: #454545;


}

.pic-wrap {

}

.pic{
  width: 100%;
}

.order-infos{
  font-size: 12px;
}

.col-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 10px;
}

.title-wrap {
  margin-top: 30px;
}
