
.margin-top-signin {
  margin: 60px 0;
}


.centered {
    margin: 0 auto !important;
    float: none !important;
}




.signin-content {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  color: #454545;

}

.signin-head-title {
  padding: 2px;
  font-weight: bolder;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 15px;
}

.signin-form {
padding: 15px;
font-size: 14px;


}

.signin-footer {
  background-color: #FAFAFA;
  height: 100%;
  padding: 15px;
  margin-bottom: 0;

}

.btn-signin{
  width: 100%;
}

.link-signup{
  font-weight: bolder;
  color: #00305C;
  &:hover{
    color: #00305C;
  }
}

.text-forget-pass{
  color: #454545;
  &:hover{
    color: #454545;
  }

}
