
.margin-top-signin {
  margin-top: 60px;
}


.centered {
    margin: 0 auto !important;
    float: none !important;
}




.signin-content {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding: 15px;
  color: #454545;
}

.signin-head-title {
  padding: 10px;
  font-weight: bolder;
  border-bottom: 1px solid #e1e1e1;
}

.signin-form {
padding: 15px;

}

.signin-footer {
  background-color: #FAFAFA;
  height: 100%;
  padding: 15px;
  margin-bottom: 0;

}

.btn-signin{
  width: 100%;
}

.link-signup{
  font-weight: bolder;
  color: #fda403;
}
