<h6>Conheça os requerimentos para a criação da arte:</h6>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Area total:</th>
      <th>Area visivel:</th>
      <th>Area de segurança:</th>
      <th>Impressão:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @panel.panel_type.total_area %></td>
      <td><%= @panel.panel_type.visible_area %></td>
      <td><%= @panel.panel_type.security_area %></td>
      <td><%= @panel.panel_type.impression %></td>
    </tr>
  </tbody>
</table>
<div class="obs-footer">
  <p>NB: O cliente deve fazer o upload da arte nesse site no maximo 15 dias antes do inicio da veiculação. A JCDecaux se responsabiliza pela aprovação do visual e a impressão do cartaz.</p>
</div>
