<div class="container">
  <div class="row">

    <% @panels.each do |panel| %>
      <div class="col-xs-12 col-sm-4 " >


        <div class="card-wrap">

            <div class="img-wrap">
           <img src="https://picsum.photos/200/150/?random" class="img-card">
            </div>





            <div class="card-footer-wrap">

              <div class="card-info">
                <h4><%= panel.panel_type.name %></h4>
              </div>

              <div class="card-btn-wrap">
                <p>price</p>
                <p>btn</p>
              </div>
            </div>
        </div>
      </div>
    <% end %>


  </div>
</div>
