
<% @all_companies.each do |company| %>

  <% company.campaigns.each do |campaign| %>
    <p><%= campaign.company.name %></p>
      <p><%= campaign.title %></p>
    <p>Estatus do pagamento :
      <% if campaign.paid %>
        Aprovado
      <% else %>
        Em espera
      <% end %>
    </p>
  <% end %>
<% end %>

