<div class="footer">
  <div class="container">
    <div class="row">
      <div class="flex">
        <div class="col-sm-12 col-md-2">
          <div class="footer-logo">
            <%= link_to "http://www.jcdecaux.com.br/" do%>
              <% cl_image_tag("Institutionnal/JCDecaux_logo.svg") %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="footer-copyright">
            <p class="text-center"><i class="fa fa-copyright"></i>2018 <a href="http://www.jcdecaux.com">JCDecaux SA</a> - Todos os direitos reservados</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="footer-links">
            <a href="https://www.youtube.com/playlist?list=PLVZXI6E6mVBXfgV75JvRbWogCJ_RGxVKh"><i class="fa fa-youtube"></i></a>
            <a href="https://www.instagram.com/jcdecauxglobal/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.facebook.com/JCDecaux/"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/jcdecauxglobal"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/jcdecaux/?originalSubdomain=br"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
