<div class="footer">
  <div class="footer-logo">
    <% link_to "http://www.jcdecaux.com.br/" do%>
    <% cl_image_tag("Institutionnal/JCD_white.png") %>
    <% end %>
  </div>
  <div class="footer-links">
    <p>Follow us</p>
    <a href="https://www.youtube.com/playlist?list=PLVZXI6E6mVBXfgV75JvRbWogCJ_RGxVKh"><i class="fa fa-youtube"></i></a>
    <a href="https://www.instagram.com/jcdecauxglobal/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/JCDecaux/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/jcdecauxglobal"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/jcdecaux/?originalSubdomain=br"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p><i class="fa fa-copyright"></i>2018 JCDecaux SA - Todos os direitos reservados</p>
  </div>
</div>
