<div class="container wrap-about-col">
  <h4 align="center">Anuncie no metro de São Paulo</h4>
  <div class="row about-wrapper">
   <div class="col-xs-12 col-sm-4">
      <div class="about_col">
        <p><i class="fa fa-users" aria-hidden="true"></i></p>
        <h4>Alta frequência de público</h4>
        <p>77% dos usuários utilizam o Metrô de 5 a 7 vezes por semana.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="about_col">
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>
</p>
        <h4>Campanha sob medida</h4>
        <p>Envie propostas e aguarde a aceitação para fechar o contrato.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="about_col">
        <p><i class="fa fa-star" aria-hidden="true"></i></p>
        <h4>Anuncie do lado dos grandes</h4>
        <p>82% acreditam na credebilidade dos anuncios </p>
      </div>
    </div>
  </div>
</div>
