<div id="banner">
  <div class="banner-wrap centered">
    <div class="banner-title" align="center">
      <h4>ANUCIE PARA MAIS DE 4 MILHÕES DE PESSOAS</h4>
    </div>
    <div class="banner-form">
      <% if current_page?(root_path) %>
        <%= render 'shared/search-form' %>
      <% end %>
    </div>
  </div>
</div>
<h1>test contenu</h1>
<h1>test contenu</h1>
<h1>test contenu</h1>
<h1>test contenu</h1>
<h1>test contenu</h1>
