<div id="banner">
  <form action="<%= panels_path %>">
    <div class="search-wrapper text-center">
      <input type="text" name="query" class="field_search" id="search_station">
      <button class="btn btn-primary btn_search btn-easy">Buscar</button>
    </div>
  </form>
</div>
