.wrap-about-col{
  margin-top: 40px;
}


.about_col {
  border: 1px solid #009DB5;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: #536e7b;
  display: block;
  font-size: 18px;
  font-weight: normal;
  margin-top: 8px;
  border-radius: 3px;
}

.about_col h4 {
  color: #009DB5;
  font-size: 18px;
}


.fa-users {
  font-size: 30px;

}

.fa-star{
  font-size: 30px;
}


 .fa-map-marker{
  font-size: 30px;
 }

.icon_about {
  color: #009DB5;
  font-size: 34px;
}

.about-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}


