#banner {
  height: 80vh;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("http://res.cloudinary.com/charlotteboucher/image/upload/v1523913381/n6e71xvrssg4sdettgyq.jpg");
  display: flex;
  justify-content: space-around;
  align-items: center;
}
