#banner {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("http://res.cloudinary.com/charlotteboucher/image/upload/v1523457982/JCD%20easy/estac3a7c3a3o-alto-da-boa-vista.jpg");
  display: flex;
  justify-content: space-around;
  align-items: center;
}
