.img-wrap {
  background-size: cover;
  background-position: center center;
  height: 200px;
  position: relative;

}


.metro-icon {
  background-image: url('metro_icon_card.png');
  position: absolute;
  height: 20px;
  width: 20px;
  top: 170px;
  left: 42%;

}

.price-wrap {
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  position: absolute;


}

.btn-detalhes{
  width: 100%;
  margin-top: 25%;
}

.card-wrap {
  margin: 10px;
}

.card-wrap:hover {
  box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.34);
}


.card-btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer-wrap {
  border: 1px solid #c8c8c8;
  padding: 10px;
  background-color: white;
  border-top: none;
}

.card-info-border{
  border-bottom: 1px solid #c8c8c8;
  padding: 5px;


}

.card-link:hover {
  text-decoration: none;
}

@media (max-width:1200px) and (min-width:990px) {
  .card-wrap{
    height: 290px;
   }
}

.container-slide {
  margin: 0 auto;
}

.carousel-control{
  display: none;
}

.img-wrap:hover {
  & .carousel-control {
    display: inline-block;
  }
}

.price {
  color: white;
}
.card-info{
  color: #565655;
}

.card-info p {
  font-size: 12px;
}

.cards-margin {
  margin: 0;
  padding: 0;
}


.info-card{
  padding-top: 10px;
}
