
.img-card {

  width: 100%;
}

.card-wrap{
  margin: 10px;


}

.card-wrap:hover {

  box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.34);
}

.card-info {


}

.card-btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card-footer-wrap {
  border: 1px solid #c8c8c8;
  padding: 10px;
  background-color: white;
  border-top: none;

}


.card-link:hover {
  text-decoration: none;
}

@media (max-width:1200px) and (min-width:990px) {
    .card-wrap{
      height: 290px;
     }
}

.container-slide {
 margin: 0 auto;

}


.carousel-control{
  display: none;
  }

.img-wrap:hover {
  & .carousel-control{
  display: inline-block;}
  }

.price {
  color: #fda403;
}
.card-info{
  color: #565655;
}

.card-info p {
  font-size: 12px;
}


.cards-margin {
  margin: 0;
  padding: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  height: 250px;
}


.scroll-box {
    width: 100px;
    height: 1.2em;
    overflow: hidden;
    position: relative;
}
.scroll-text {
    position: absolute;
    white-space: nowrap;
}
