.footer {
  background: #F4F4F4;
  padding: 15px 0;
  color: rgba(0,0,0,0.3);
  p {
    margin: 0;
    font-size: 14px;
  }
  a {
    color: rgba(0,0,0,0.3);
    &:hover {
      color: #FBA329;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 40px;
}

.footer-logo img {
  height: 100%;
}

.footer-links {
  text-align: right;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

@media screen and (max-width: 540px) {
  .footer-logo {
    text-align: center;
  }
   .footer-links {
    text-align: center;
  }
  .flex {
    display: flow-root;
  }
}

