// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "cards";
@import "banner";
@import "btn";
@import "footer";
@import "dropzone";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 540px) {
  body {
    margin-bottom: 140px;
  }
}
