/* Main navbar */
.my-account {
  font-size: 12px;
  padding: 0 5px;
  p {
    margin: 0;
    color: white;
  }
  a {
    color: white;
    cursor: pointer;
  }
}

.log-out {
  padding: 7px 5px;
  a {
    color: white
  }
}

.navbar-wagon-grey {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2b2b;
  transition: all 0.3s ease;
}

.navbar-wagon {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: all 0.3s ease;
}

/* Logo */
.navbar-wagon-brand img {
  height: 25px;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  padding: 5px 15px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.navbar-wagon-button {
  display: 0 0 100%;
  margin: 0 10px;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: rgb(200,200,200);
  text-decoration: none;
}

.search-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;

}

.search-wrapper {
  position: relative;
  // height: 40px;
  width: 700px;

  img {
    position: absolute;
    top: 5.5px;
    left: 5px;
    z-index: 1000;
  }
  a {
    position: absolute;
    top: 6.5px;
    right: 6px;
    z-index: 1000;
  }
  input {
    height: 100%;
    text-indent: 35px;
    width: 30px;

  }
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 3px;
}

.select2-selection--multiple {
  padding-left: 40px !important;
  height: 42px !important;
}
.select2-container .select2-search--inline .select2-search__field {
  position: absolute;
  top: -5px;
  left: 8px;
}

.link-entrar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

}


#search-form-mobile {
  display: none;

}

#search-form-mobile2 {
  display: none;

}


@media (max-width: 600px)
{
    #search-form-mobile {
    display: block;
  }

  .banner-wrap{
    margin-top: 60px;
  }

  #search-form-mobile2 {
    display: block;
  }
    #search-form-normal{
    display: none;
  }

}






